/* Navbar Scroll Effect */
.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease-in-out;
}

/* Dropdown Menu */
.dropdown {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    padding: 10px;
    border-radius: 5px;
}

.dropdown li {
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
